@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  background: #101728;
  color: #9340ff;
  box-sizing: border-box;
}

::selection {
  color: #101728;
  background: #9340ffbe;
}
